[Unit]
Description=Powermeter service
After=network-online.target

[Service]
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/python3 /usr/bin/powermeter.py
#User=
Restart=always

[Install]
WantedBy=multi-user.target
